

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fc1e8a;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px 60px;
    background: #82fc1e;
    /* background: linear-gradient(325deg); */
}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.game {
    /* border: 1px solid #fc1e8a; */
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.30s;
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #999;
    /* opacity: 0.85; */
    transition: 0.30s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}


.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after, boxMatch::after{
    transform: rotateY(180deg);
}

.reset {
    padding: 15px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #000;
    background: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: #fc1e8a;
    background-color: #999;
}

